@import url("https://fonts.googleapis.com/css?family=Lato");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;

  background-image: linear-gradient(to right, #3b1c58, #1cd1ac);
  padding: 20px;
  font-family: Lato;
  color: #000;
}

h1 {
  font-weight: normal;
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 20px 0 10px 10px;
}
h1 span {
  font-size: 13px;
  display: block;
  padding-left: 4px;
}

.container {
  width: 200px;
  height: 133.3333333333px;
  position: relative;
  margin: 40px 40px 0 40px ;
  perspective: 1200px;
  float:left;
}

.box {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 2px 22px 25px 0px #000;
   
}
.box figure {
  display: table;
  position: absolute;
  text-align: center;
  color: white;
}



.box .front,
.box .back {
  width: 200px;
  height: 133.3333333333px;
}

.box .right,
.box .left {
  width: 33.3333333333px;
  height: 133.3333333333px;
}

.box .top,
.box .bottom {
  width: 200px;
  height: 33.3333333333px;
}

.box .right,
.box .left {
  left: 33.3333333333px;
}

.box .top,
.box .bottom {
  top: 33.3333333333px;
}


/** DOOM **/
.game-doom .box .front {
  background-image:url('https://i.ytimg.com/vi/zlRzaSHEj2c/maxresdefault.jpg');
  background-size: 200px 130px;
}

.game-doom .box .back {
  background-image:url('https://www.mobygames.com/images/covers/l/86892-doom-snes-back-cover.jpg');
  background-size: 200px 130px;
}




/** alien3 **/
.game-alien3 .box .front {
  background-image:url('https://www.mobygames.com/images/covers/l/236455-alien3-snes-front-cover.jpg');
  background-size: 200px 130px;
}

.game-alien3 .box .back {
  background-image:url('http://2.bp.blogspot.com/-t0wsGCQfINc/U0K0rO9XTqI/AAAAAAAACaQ/PW7SDVQKHk8/s1600/LJN_back.jpg');
  background-size: 200px 130px;
}



/** DOOM **/
.game-chronotrigger .box .front {
  background-image:url('https://4.bp.blogspot.com/-ju1ttZQibdE/WdH3ASssalI/AAAAAAAAGgo/u0Y_i3MVEF8_P4YjlvOnPgDpve1kI8e4QCLcBGAs/s1600/BOX-Chrono.jpg');
  background-size: 200px 130px;
}

.game-chronotrigger .box .back {
  background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROExGLZDtpricJNtjsR6r5xxWxRk8N-JgnIHdMuJErQwUwtaLeLnanCm4CDqDYegp22wA&usqp=CAU');
  background-size: 200px 130px;
}




/** DOOM **/
.game-avp .box .front {
  background-image:url('https://upload.wikimedia.org/wikipedia/en/thumb/0/08/AvpSNES_boxart.jpg/220px-AvpSNES_boxart.jpg');
  background-size: 200px 130px;
}

.game-avp .box .back {
  background-image:url('http://cdn.shopify.com/s/files/1/0359/6900/7751/products/alienvspredatorsnesbackcover_1024x.jpg?v=1605401424');
  background-size: 200px 130px;
}




/** DOOM **/
.game-ewj1 .box .front {
  background-image:url('https://www.mobygames.com/images/covers/l/43082-earthworm-jim-snes-front-cover.jpg');
  background-size: 200px 130px;
}

.game-ewj1 .box .back {
  background-image:url('https://www.mobygames.com/images/covers/l/43083-earthworm-jim-snes-back-cover.jpg');
  background-size: 200px 130px;
}




/** DOOM **/
.game-ewj2 .box .front {
  background-image:url('https://www.mobygames.com/images/covers/l/32886-earthworm-jim-2-snes-front-cover.jpg');
  background-size: 200px 130px;
}

.game-ewj2 .box .back {
  background-image:url('https://www.mobygames.com/images/covers/l/32887-earthworm-jim-2-snes-back-cover.jpg');
  background-size: 200px 130px;
}




/** DOOM **/
.game-fzero .box .front {
  background-image:url('https://www.mobygames.com/images/covers/l/37387-f-zero-snes-front-cover.jpg');
  background-size: 200px 130px;
}

.game-fzero .box .back {
  background-image:url('https://www.mobygames.com/images/covers/l/57407-f-zero-snes-back-cover.jpg');
  background-size: 200px 130px;
}



/** DOOM **/
.game-gradius3 .box .front {
  background-image:url('https://www.mobygames.com/images/covers/l/33282-gradius-iii-snes-front-cover.jpg');
  background-size: 200px 130px;
}

.game-gradius3 .box .back {
  background-image:url('https://gamefaqs.gamespot.com/a/box/5/4/7/42547_back.jpg');
  background-size: 200px 130px;
}




/** DOOM **/
.game-mmx1 .box .front {
  background-image:url('https://i.ebayimg.com/images/g/3SoAAOSw0e9UylcK/s-l300.jpg');
  background-size: 200px 130px;
}

.game-mmx1 .box .back {
  background-image:url('https://www.mobygames.com/images/covers/l/35567-mega-man-x-snes-back-cover.jpg');
  background-size: 200px 130px;
}




/** DOOM **/
.game-mmx2 .box .front {
  background-image:url('https://www.mobygames.com/images/covers/l/78700-mega-man-x2-snes-front-cover.jpg');
  background-size: 200px 130px;
}

.game-mmx2.box .back {
  background-image:url('https://gamefaqs.gamespot.com/a/box/9/2/3/50923_back.jpg');
  background-size: 200px 130px;
}




/** DOOM **/
.game-mmx3 .box .front {
  background-image:url('https://www.mobygames.com/images/covers/l/78692-mega-man-x3-snes-front-cover.jpg');
  background-size: 200px 130px;
}

.game-mmx3 .box .back {
  background-image:url('https://www.mobygames.com/images/covers/l/78691-mega-man-x3-snes-back-cover.jpg');
  background-size: 200px 130px;
}




/** DOOM **/
.game-starfox .box .front {
  background-image:url('https://commondatastorage.googleapis.com/images.pricecharting.com/AMIfv96mKjNTuxjSwnpVJqvMNs7ZaIyA0vREwgPb7Gazqbq7T-NsRgSdSHdbJ1PNh4jeE_RMFtP6NqFnrXaXG0rKUBfmnzzrxcoD70iARkRYQBksY5zElZZr-yhwU5TiF-hNH3IrJ9pdQcLBVe3zWQd99XAF-EQvaA/240.jpg');
  background-size: 200px 130px;
}

.game-starfox .box .back {
  background-image:url('https://commondatastorage.googleapis.com/images.pricecharting.com/AMIfv9404_wqodSAPUDP5b8_IjcMTOIjMXPrweV-Oumq__t6zhq3_FxyQlnn4TIIDGnIY-9VTqBAwlKm0RZcAA9W1BHnEDd_y2XtFedss1nng0sxFlBLuNt2EqDIC_hNSfVnNiypvbr1dQg-SCXfvchcNvJ87eeepw/240.jpg');
  background-size: 200px 130px;
}






.box .right,
.box .left,
.box .top,
.box .bottom {
  background: #000;
}

.box .front {
  transform: translateZ(16.3333333333px);
}

.box .back {
  transform: rotateX(-180deg) translateZ(16.3333333333px);
}

.box .right {
  transform: rotateY(90deg) translateZ(150px);
}

.box .left {
  transform: rotateY(-90deg) translateZ(50px);  
}

.box .top {
  transform: rotateX(90deg) translateZ(50px);
}

.box .bottom {
  transform: rotateX(-90deg) translateZ(83px);
  
}

.box.show-front {
  transform: translateZ(-13.3333333333px) rotateX(30deg) rotateY(10deg);
}

.box.show-back {
  transform: translateZ(-13.3333333333px) rotateX(-150deg) rotateY(10deg);
}

.box.show-right {
  transform: translateZ(-100px) rotateY(-90deg);
}

.box.show-left {
  transform: translateZ(-100px) rotateY(90deg);
}

.box.show-top {
  transform: translateZ(-13.3333333333px) rotateX(-90deg);
}

.box.show-bottom {
  transform: translateZ(-13.3333333333px) rotateX(90deg);
}

.box:hover {
  transform: rotateX(-180deg) translateZ(13.3333333333px);
}

ul#options {
  list-style: none;
  display: table;
  margin-left: auto;
  margin-right: auto;
  display:none;
}
ul#options li {
  float: left;
  margin-right: 5px;
}
ul#options li button {
  outline: none;
  display: block;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  color: #fff;
  font-family: "Lato";
  text-transform: uppercase;
  font-size: 14px;
  background: #7f3d9b;
  border-radius: 2px;
  transition: all 0.2s ease-in;
}
ul#options li button:hover {
  background: #612e76;
}
ul#options li button.current {
  background: #522764;
}

p.help {
  text-transform: uppercase;
  margin: 20px;
}

p.link {
  clear: both;
  margin-top: 40px;
}
p.link a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #7f3d9b;
  transition: all 0.2s ease-in;
}
p.link a:hover {
  background-color: #522764;
}